@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

.navLink {
  cursor: pointer;
  position: relative;
}

.navLink::before {
  content: "";
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: #f4f4f4;
  opacity: 0;
  transition: opacity 0.2s;
}

.navLink:hover::before {
  opacity: 1;
}

.feature-bg {
  box-shadow: 0px 8px 3px 0.5px rgba(23, 23, 23, 0.3);
}
